@{
    ViewData["Title"] = "Home Page";
}

<div class="img-fluid d-none d-lg-block d-none d-md-block">
    <img src="~/images/Banner-02.jpg" alt="Govetch Hackathon" style="max-width:100%; height:auto" class="animate__animated animate__zoomIn" />
</div>
<div class="mobileShow">
    <div class="img-fluid">
        <div class="jumbotron animate__animated animate__zoomIn">

        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12 md-3">
        <h5 class="font-weight-bold animate__animated animate__fadeInLeft">Welcome to Govtech Hackathon</h5>
        <hr class="hrIndex" />
    </div>
</div>
<div class="img-fluid d-none d-lg-block d-none d-md-block">
    <div class="row">       <div class="col-md-3"></div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class=" md-3 icon1" onclick="window.location='@Url.Action("UserRegistrationData", "Registration")'">
                <img src="~/images/user.png" class="img-fluid" style="width:155px; height:155px" />
            </div>
            <div class="text-center"><strong><a href="@Url.Action("UserRegistrationData","Registration")" class="aIndex">I'M AN APPLICANT</a></strong></div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class=" md-3 icon2" onclick="window.location='@Url.Action("InvestorDetails", "Investor")'">
                <img src="~/images/brief.png" class="img-fluid" style="width:155px; height:155px" />
            </div>
            <div class="text-center"><strong><a href="@Url.Action("InvestorDetails","Investor")" class="aIndex">I'M AN INVESTOR</a></strong></div>
        </div>
        <div class="col-6 col-md-4 col-lg-2">
            <div class=" md-3 icon3" onclick="window.location='@Url.Action("Login", "Registration")'">
                <img src="~/images/admin.png" class="img-fluid" style="width:155px; height:155px"/>
            </div>
            <div class="text-center"><strong><a href="@Url.Action("Login","Registration")" class="aIndex">ADMIN LOGIN</a></strong></div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<div class="mobileShow">
    <div class="row">
        <div class="col-md-2">
            <div class=" md-3 icon1" onclick="window.location='@Url.Action("UserRegistrationData", "Registration")'">
                <img src="~/images/user.png" class="img-fluid" style="width:155px; height:155px" />
            </div>
            <div class="text-center"><strong><a href="@Url.Action("UserRegistrationData","Registration")" class="aIndex">I'M AN APPLICANT</a></strong></div>
        </div>
        <div class="col-md-2">
            <div class=" md-3 icon2" onclick="window.location='@Url.Action("InvestorDetails", "Investor")'">
                <img src="~/images/brief.png" class="img-fluid" style="width:155px; height:155px" />
            </div>
            <div class="text-center"><strong><a href="@Url.Action("InvestorDetails","Investor")" class="aIndex">I'M AN INVESTOR</a></strong></div>
        </div>
        <div class="col-md-2">
            <div class=" md-3 icon3" onclick="window.location='@Url.Action("Login", "Registration")'">
                <img src="~/images/admin.png" class="img-fluid" style="width:155px; height:155px" />
            </div>
            <div class="text-center"><strong><a href="@Url.Action("Login","Registration")" class="aIndex">ADMIN LOGIN</a></strong></div>
        </div>
        </div>

    </div>